/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
.el-select {
  width: 100%; }

.el-select .el-tag {
  background: #333; }

.el-select .el-tag__close.el-icon-close {
  right: -5px;
  top: -1px; }

/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
.el-message-box {
  background: #111;
  border-color: #222; }

/* Message
-------------------------- */
/* Notification
-------------------------- */
.el-notification {
  background: #222; }

/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
.el-dialog {
  border: solid 1px #222; }

.el-dialog__title {
  line-height: 24px;
  font-size: 16px;
  color: #aaa; }

/* Table
-------------------------- */
.el-table {
  background: #151515; }

.el-table tr {
  background: #151515; }

/* Pagination
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
.el-select {
  width: 100%; }

.el-select .el-tag {
  background: #333; }

.el-select .el-tag__close.el-icon-close {
  right: -5px;
  top: -1px; }

/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
.el-message-box {
  background: #111;
  border-color: #222; }

/* Message
-------------------------- */
/* Notification
-------------------------- */
.el-notification {
  background: #222; }

/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
.el-dialog {
  border: solid 1px #222; }

.el-dialog__title {
  line-height: 24px;
  font-size: 16px;
  color: #aaa; }

/* Table
-------------------------- */
.el-table {
  background: #151515; }

.el-table tr {
  background: #151515; }

/* Pagination
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Break-point
--------------------------*/
.el-select-group {
  margin: 0;
  padding: 0; }
  .el-select-group__wrap {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; }
    .el-select-group__wrap:not(:last-of-type) {
      padding-bottom: 24px; }
      .el-select-group__wrap:not(:last-of-type)::after {
        content: '';
        position: absolute;
        display: block;
        left: 20px;
        right: 20px;
        bottom: 12px;
        height: 1px;
        background: #444; }
  .el-select-group__title {
    padding-left: 20px;
    font-size: 12px;
    color: #aaa;
    line-height: 30px; }
  .el-select-group .el-select-dropdown__item {
    padding-left: 20px; }
