<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CrawlerUI</title>

    <style style="-webkit-app-region: drag">
      body,
      html {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: transparent;
      }
      body {
        width: 801px;
        height: 483px;
        background: url('static/splash.png') no-repeat center center transparent;
        background-size: cover;
        -webkit-user-select: none;
        -webkit-app-region: drag;
      }
    </style>
  </head>
  <body></body>
</html>
